.EnquireMainContainerOne {
    position: fixed;
    top: 45%;
    right: 0px;
    z-index: 5;
}
.EnquireMainContainer {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
    height: 412px;
}

.enquireContainer {

    height: 135px;
    width: 40px;
    border-radius: 5px 0 0 5px;
    background-color: #0066cc;

    cursor: pointer;
}

.textContainer {
    display: flex;
    transform: rotate(90deg);
    position: relative;
    top: 19px;
    right: 6px;
}

.textContainer p {
    color: white;
    font-size: 15px;
}

.textContainer p:nth-child(1) {
    margin-right: 6px;
    margin-top: -2px;
    font-size: 17px;
}

.textContainer p:nth-child(2) {
    margin-right: 6px;
}

.textContainer p:nth-child(3) {
    margin-right: 2px;
}

.enquireFormContainer {
    width: 400px;
    padding: 20px 0 20px 0;
    border-radius: 7px;
    z-index: 3;
    position: relative;
    top: 73px;
    transform: translate(0, -50%);
    border: 1px solid white;
    background-color: white;
    transition: width 0.2s;
}
 

.enquireFormContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enquireFormContainer form Button {
    width: 90%;
    padding: 8px 0;
}

.enquireFormContainer form #inputItem {
    border: 1px solid #1976d2;
    font-size: 14px !important;

}

.enquireFormContainer form #inputItem:focus {
    outline: 1px solid #0066cc;
    box-shadow: 0px 0px 1px 1px #1976d2;
}

.enquireFormContainer form #textAreaItem:focus {
    outline: 1px solid #0066cc;
    box-shadow: 0px 0px 1px 1px #1976d2;
}

#inputItem {
    border: 1px solid grey;
    padding: 9px 5px;
    width: 90%;
    border-radius: 7px;
    margin-bottom: 20px;
}

#textAreaItem {
    border: 1px solid #1976d2;
    width: 90%;
    font-size: 15px;
    border-radius: 7px;
    padding: 10px 9px;
    margin-bottom: 20px;
    display: block;
}
.falseEnquireFormContainer{
    width: 0;
}

.falseEnquireFormContainer #inputItem{
    display: none;
}
.falseEnquireFormContainer #textAreaItem{
    display: none;
}
.falseEnquireFormContainer Button{
    display: none;
}
.dropdownContainer {
    width: 90% !important;
    margin-bottom: 20px;
    border-radius: 7px !important;
    height: 41px;

}
.dropdownContainer .MuiOutlinedInput-notchedOutline{
    border: 1px solid #1976d2 !important;
}

.dropdownContainer .MuiOutlinedInput-notchedOutline:focus{
    outline: 1px solid #0066cc;
    box-shadow: 0px 0px 1px 1px #1976d2;
}
.enquireFormContainer .dropdownContainer {

    display: block;
}
.falseEnquireFormContainer .dropdownContainer{
    display: none;
}
form .MenuLabelText{
    position: relative !important;
    top: -2px !important;
    font-size: 15px !important;
    left: -9px !important;
    color: #757575 !important;
}
 /* .MuiPaper-root {
    min-width: 288px !important;
    right: 61px !important;
    margin: -27px 0 0 -27px !important;
    z-index: 3;
} */
form .MuiSelect-select {
    position: relative;
    top: -6.5px !important;
}
.enquireSpinner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 3;
    height:100%;
    width: 100%;
    position: absolute;
top: 0;
right: 0;
 

}



@media(max-width:426px){
 
    .enquireFormContainer {
        width:300px;
        transition: width 0.2s;
    }
}